body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  
  background:#98FB98;
  background-size: contain;
}
.navbar{
    background-color: black;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    font-family: "Monoton", sans-serif;
    width: auto;
    font-size: 32px;
    height: 20px;
    color: #ffff;
}
.links{
    display: flex;
    flex-direction: row;
    
}
.mainLinks{
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;


}
.mainLinks > li {
    margin: 10px;
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 300;
}




.homeContent{
    display: flex;
    flex-direction: row;
    
    margin-top: 86px;
    margin-left: 78px;
}
.passage{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.heading{
    line-height: 55px;
    font-size: 50px;
    font-weight: 800;

}
.info{
    font-size: 20px;
    font-weight: 300;
}
.passage > div{
    margin: 17px 59px;
}
.navContents{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

a > img {
    height: auto;
    width: 30px;
    filter: invert();
}
.bgimg{
    background-image: url(images/sideimg.png);
    position: absolute;
    height: 130vh;
    width: 153vh;
    transform: rotate(-54deg);
    right: -215px;
    top: 241px;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}

#hamburger-toggle{
    display: none;
}

label > img{
    display: none;
}
.categories{
    margin-top: 300px;

}
.boxCat{
    display: flex;
    background: #ffff;
    border-radius: 20px;
    
    flex-direction: column;
    align-items: center;
    margin: 5%;

}
.heading2{
    font-size: 35px;
    padding: 20px;
    font-weight: 400;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body > div > div.categories > div > div.cards > div > div.img > img{
    max-width: 88%;
    padding: 10px;
    max-height: 222px;
}
body > div > div.categories > div > div.cards > div.card3 > div.img > img{
    padding: 0px;
}
body > div > div.categories > div > div.cards > div.card7 > div.img > img{
    padding: 0px;
}
body > div > div.categories > div > div.cards > div > div.Cname{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    
    padding: 10px 0px 40px;
}
.boxAbout{
    margin: 7%;
}
.heading3{
    margin: 30px;
    font-size: 35px;
    font-weight: 400;
}
.passage2{
    font-size: 20px;
    font-weight: 300;
}
hr{
    margin: 0rem 0;
    color: inherit;
    width: 14%;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 9.25;
}
.boxContact{
    display: flex;
    flex-direction: column;
    margin: 7%;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
    width: 430px
}
.heading4{
    font-size: 40px;
    font-weight: 400;

}
form > input{
    padding: 10px;
    border-radius: 20px;
    height: 55px;
    border: none;

}
form > textarea{
    padding: 10px;
    height: 110px;
    border-radius: 20px;
    border: none;
}
form > button{
    height: 50px;
    margin: 30px;
    border-radius: 17px;
    background-color: black;
    color: #ffff;
    font-weight: 500;
    width: 200px;
    align-self: center;
    border: none;
}
form > label {
    font-size: 18px;
    font-weight: 400;
    margin: 12px 19px 7px;
}
div{
    transition: background-color 0.5s ease;
}

/*
@media only screen and (max-width: 767px) {
    .hamburger-icon > img {
        display: block;
        visibility: visible;
        filter: invert();
        height: 30px;

    }
    .ham{
        display: block;
    }
    
    


      .hamburger-icon {
        cursor: pointer;
        display: block;
        order: 1;
        margin-right: 20px;
      }
    
      ul {
        z-index: 10;
        position: fixed;
        top: 42px;
        right: -100%;
        background-color: green;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(20px);
    
      }
    
      ul li {
        margin: 20px 0;
      }
    
      ul li a {
        font-size: 20px;
        color: #010101;
      }
    
      #hamburger-toggle:checked~ul {
        right: 0;
      }


      .hamburger-toggle {
        visibility: visible;
      }
      .mainLinks {

        display: none;
        color: white;
        padding: 10px;
        text-decoration: none;
      }
      #hamburger-toggle:checked~.mainLinks {
        display: block; 
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 20px;
        text-align: center;
      }
      .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      .dropdown-menu li {
        border-bottom: 1px solid #444;
      }
    
      
    
      .mainLinks a:hover {
        background-color: #555;
      }



      .bgimg > img {
        z-index: -1;
        filter: blur(30%);
        overflow: hidden;
      }





    
    .navbar {
        height: 56px;
    }

    .navContents {
        width: 95%;
        padding: 0px 5px 0px 5px;
    }

    
    .passage > div{
        margin: 7px 0px;
    }
    .heading{
        font-size: 30px;
        line-height: 35px;
    }
    .info{
        font-size: 18px;
    }
    .passage{
        width: auto;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        backdrop-filter: blur(6px);
        padding: 10px;

    }
    .buttons{
        display: flex;
        justify-content: center;
    }
    .homeContent{
        padding: 0px 10%;
        flex-direction: column;
    }
    .logo{
    font-size: 29px;
    line-height: 1;
    }
    .ham a{
        visibility: visible;
    }
    
    
    
  
}*/