@media only screen and (max-width: 767px) {
    
    body{
        height: auto;
        transition: background-color 1s ease;
    }
    .hamburger-icon > img {
        display: block;
        visibility: visible;
        filter: invert();
        height: 30px;

    }
    .ham{
        display: block;
    }
    
    


      .hamburger-icon {
        cursor: pointer;
        display: block;
        order: 1;
        margin-right: 0px;
      }
      #mainLinks > ul {
        z-index: 20;
        position: fixed;
        top: 42px;
        right: -100%;
        background-color: green;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(15px);
    
      }
    
      ul li {
        margin: 20px 0;
      }
    
      ul li a {
        font-size: 20px;
        color: #010101;
      }
    
      #hamburger-toggle:checked~ul {
        right: 0;
      }


      .hamburger-toggle {
        visibility: visible;
      }
      .mainLinks {

        display: none;
        color: white;
        padding: 10px;
        text-decoration: none;
      }
      #hamburger-toggle:checked~.mainLinks {
        display: block; /* Show the main links when the checkbox is checked */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 1;
        padding: 20px;
        text-align: center;
      }
      .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      .dropdown-menu li {
        border-bottom: 1px solid #444;
      }
    
      
    
      .mainLinks a:hover {
        background-color: #555;
      }



      .bgimg > img {
        z-index: -1;
        filter: blur(30%);
        overflow: hidden;
        
      }
      .bgimg{
        position:fixed;
        z-index: -1;
      }





    /* Styles for mobile screens */
    .navbar {
        height: 56px;
    }

    .navContents {
        width: 95%;
        padding: 0px 5px 0px 5px;
    }

    
    .passage > div{
        margin: 7px 0px;
    }
    .heading{
        font-size: 30px;
        line-height: 35px;
    }
    .info{
        font-size: 18px;
    }
    .passage{
        width: auto;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        padding: 27px;

    }
    .buttons{
        display: flex;
        justify-content: center;
    }
    .homeContent{
        margin-left: 0px;
        padding: 0px 7%;
        flex-direction: column;
    }
    .logo{
        font-size: 29px;
    line-height: 1;
    }
    .ham a{
        visibility: visible;
    }



    #categories > div.cards > div > div.img > img{
        max-width: 100%;
        padding: 10px;
        max-height: 83px;
    }
    #categories > div.cards > div > div.img {
        width: auto;
    }
    .heading2{
      font-size: 26px;
    }
    .boxCat{
      padding-bottom: 30px;
    }
    #categories > div.cards > div > div.Cname {
      font-size: 15px;
      font-weight: 500;
      color: #4e4646;
      line-break: auto;
      padding: 0px;
      margin-bottom: 10px;
    }
    #categories > div.cards > div.card3 > div.img > img{
        padding: 5px;
    }
    #categories > div.cards > div.card7 > div.img > img{
        padding: 5px;
    }
    #categories > div.cards > div{
      width: 165px;
        
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    body > div > div.categories > div > div.cards >div {
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        margin: 0px 21px 28px;
    }
    form{
      width: 360px;
    }
    .contact{
      position: relative;
      background-color: red;
      transition: background-color 2s ease;
      background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(15px);
        
        background: linear-gradient(rgb(0 0 0 / 32%) 2%, rgb(255 255 255 / 30%) 8%);
        padding-top: 30px;
        margin-top: 0px;
        margin-bottom: 100px;
  }
    .heading4{
      font-size: 28px;
    }
    form > button{
      font-size: 16px;
    }
    form > label {
      font-size: 17px;
    }
    .heading3{
      margin: 10px 10px 21px;
        font-size: 23px;
    }
    hr{
      width: 43%;
    }
    .passage2{
      font-size: 15px;
    }
    .about{
      
    
    
    color: #ffff;
    padding-top: 20px;
    margin-top: 52px;
    padding-bottom: 20px;
    margin-bottom: -0.479px;
    width: fit-content;
   
    }
    .boxAbout{
      padding: 37px;
    }
    form{
      width: 300px;
    }
    form > input{
      height: 43px;
      border-radius: 13px;
    }
    .boxServices > .services > .Sbox {
      width: auto;
      background-color: #ff816a;
    }



    .sTitle{
      font-size: 30px;
      backdrop-filter: blur(6px);
        padding: 11px;
        font-size: 30px;
        border-radius: 56px;
    }
    .Sbox > .boxTitle{
      font-size: 30px;
      line-height: 35px;
    }
    .Sbox > .info{
      font-size: 15px;
    }
    .boxServices > .services > .Sbox {
      margin: 10px 0px;
    }
    body > div > footer > div{
      padding: 0px 8%;
  }
    
}